
    <!-- header template here -->
    <nav class="navigation nav-box-shadow">
        <div class="top-bar" >
            <div class="logo-box">
                <a href="/"><img class="logo" src="../static/images/logo_small.png" alt="logo"></a>
            </div>

            <div class="app-name">Flask Application Template</div>

            <div class="topbar-padding-mini d-sm-none flex-right toggle-navbar-fold-xs toggle-navbar-fold-sm">
                <i class="appkiticon icon-outline-vertical-more action-icon"></i>
            </div>
            <span class="space w-100 d-sm-none d-block"></span>

            <div class="navbar-fold-sm  fold">
                
            </div>

            
        </div>

    </nav>
